.header {
  position: relative;
  height: 50px;
}

.help {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 28px;
  height: 28px;
  transition: all 0.3s;
  cursor: pointer;
}
.help:hover {
  transform: scale(1.2);
}

.modeType {
  margin: 2px 12px 0 0;
}

.switch {
  position: absolute;
  display: flex;
  right: 50px;
  top: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

#light {
  color: #121213;
  border-bottom: 1px solid #121213;
}

#dark {
  color: white;
  border-bottom: 1px solid white;
}
