* {
  font-family: 'Kanit', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  box-sizing: border-box;
  margin-top: 0;
}

h1 {
  margin: 0 auto;
}

.App {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
}
