* {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
}

.header {
  height: 50px;
  border-bottom: 1px solid #000;
}

h1 {
  margin: 6px auto;
}

.board {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.row {
  display: flex;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #fff;
  height: 3.25rem;
  width: 3.25rem;
  margin: 2px;
  border: 2px solid #d3d6da;
  text-transform: uppercase;
}

.keyboard {
  height: 200px;
  width: 100%;
}

.keyboard-row {
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 0 auto 8px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;

  background-color: #d3d6da;
  text-transform: uppercase;
  cursor: pointer;
}

.big-key {
  width: 69px;
}

.correct {
  background-color: #6aaa64;
}

.contains {
  background-color: #c9b458;
}

.absent {
  background-color: #787c7e;
}
